.form {
  width: 100%;
}

.form-add__file {
  position: relative;
  width: 100%;
  height: 198px;
  border: 1px solid #dee3e5;
  color: $color-primary-blue;
  border-radius: 5px;
  background-color: #e4ecf1;
  overflow: hidden;

  &.highlight {
    border: 5px dashed $color-primary-blue;
  }

  &:hover {
    border-color: $color-primary-blue;

    span {
      text-decoration: underline;
    }
  }

  label {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10px;

    span {
      font-size: 14px;
      line-height: 1;
      text-align: center;
      cursor: pointer;
    }

    input[type="file"] {
      @extend %visually-hidden;
    }

    svg.icon {
      width: 44px;
      height: 44px;
      margin: 10px;
      fill: $color-primary-blue;
    }
  }

  img {
    @include object-fit(cover, center);

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;

    &.js-shown {
      background-color: #fff;
      display: block;
      z-index: 1;
    }
  }

  button {
    @extend %reset-button;

    z-index: 10;
    position: absolute;
    top: 7px;
    right: 7px;
    display: none;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.8);
    outline: none;

    &.js-shown {
      display: flex;
    }

    svg.icon {
      width: 22px;
      height: 22px;
      fill: #fff;
    }

    &:hover {
      background-color: rgba(237, 45, 45, 0.8);
    }

    &:active {
      background-color: rgba(208, 0, 0, 0.8);
    }
  }

  &--file-in {
    > button {
      @extend %reset-button;

      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 34px;
      height: 34px;
      top: 5px;
      right: 5px;
      border-radius: 5px;
      background-color: rgba(0, 0, 0, 0.8);
      outline: none;

      svg.icon {
        fill: #fff;
        width: 22px;
        height: 22px;
      }

      &:hover,
      &:focus {
        background-color: rgba(237, 45, 45, 0.8);
      }

      &:active {
        background-color: rgba(208, 0, 0, 0.8);
      }
    }

    img {
      display: block;
    }

    label {
      display: none;
    }
  }
}

.form-add__fieldset {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  font-size: 16px;
  line-height: 24px;

  label {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    color: $color-button-dark;
  }

  input,
  textarea {
    width: 100%;
    padding: 8px 15px;
    font-size: inherit;
    line-height: inherit;
    box-shadow: none;
    border: 1px solid $border-color-grey;
    border-radius: 5px;
    outline: none;
    resize: none;

    &:focus {
      border-color: $color-primary-blue;
    }
  }

  .button-primary {
    margin: 0 auto;
  }
}
