$color-primary-blue: #2B94E1;

$color-active-grey: #eeeeee;
$border-color-grey: #A6B0B3;
$color-brighter-grey: #F3F3F3;

$color-primary-green: #3E8856;
$color-active-green: #1D9C00;
$color-brighter-green: #4FAE33;

$color-button-dark: #333333;
