$color-primary-blue: #2b94e1;

$color-active-grey: #eee;
$border-color-grey: #a6b0b3;
$color-brighter-grey: #f3f3f3;

$color-primary-green: #3e8856;
$color-active-green: #1d9c00;
$color-brighter-green: #4fae33;

$color-button-dark: #333;
